/* Navigation */
.navbar {
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.5s;
}

.navbar-nav {
  justify-content: flex-end;
}

.navbar-brand {
  font-weight: 700;
  color: #64a19d;
}

.navbar-brand:hover {
  color: #64a19d;
}

.navbar-toggler {
  font-size: 1.3rem;
  color: #64a19d;
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link {
  font-size: 0.9rem;
  font-weight: 700;
  color: #212529;
  padding: 0.75rem 0;
  transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
  color: #64a19d;
}

.navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar-shrink {
  padding: 0;
  background-color: #f8f9fa;
}

.navbar-shrink .navbar-brand {
  color: #212529;
}

.navbar-shrink .navbar-brand:hover {
  color: #64a19d;
}

.navbar-shrink .navbar-toggler {
  color: #212529;
}

.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #212529;
}

.navbar-shrink .navbar-nav .nav-item .nav-link:hover,
.navbar-shrink .navbar-nav .nav-item .nav-link:active {
  color: #64a19d;
}

/* Header */
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: calc(10rem - 4.5rem);
}

header.masthead .masthead-heading {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

header.masthead .masthead-subheading {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.25rem;
  margin-bottom: 4rem;
}

header.masthead .masthead-avatar {
  width: 15rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
.line{
  width: 100px;
  height: 5px;
  background-color: #fff;
}
.star{
}
.divider{
  font-size: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: calc(12rem - 4.5rem);
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 3rem;
  }
  header.masthead .masthead-subheading {
    font-size: 1.75rem;
    font-style: italic;
    line-height: 1.75rem;
    margin-bottom: 5rem;
  }
}
/* Portfolio Section */
.portfolio {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.portfolio .container {
  position: relative;
}

.portfolio .container .row {
  margin: 0.5rem -0.5rem;
}

.portfolio .container .row .col-lg-4 {
  padding: 0.5rem;
}

.portfolio .container .row .col-lg-4 img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.portfolio .container .row .col-lg-4 a {
  display: block;
  position: relative;
  z-index: 1;
}

.portfolio .container .row .col-lg-4 a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.portfolio .container .row .col-lg-4 a:hover::before {
  opacity: 1;
}

.portfolio .container .row .col-lg-4 a .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.portfolio .container .row .col-lg-4 a:hover .portfolio-box-caption {
  opacity: 1;
}

/* About Section */
#about {
  padding: 75px 0;
  text-align: center;
}

#about .section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

#about .section-subheading {
  font-size: 16px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

#about .avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
}

#about .divider-light {
  margin: 15px auto;
}

#about .skills {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#about .skills .skill-item {
  margin-bottom: 15px;
}

#about .skills .skill-item .progress {
  height: 25px;
  background-color: #f05f40;
  border-radius: 0;
}

#about .skills .skill-item .progress .skill {
  font-size: 14px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #fff;
}

#about .skills .skill-item .progress .skill .fa {
  margin-right: 10px;
}

#about .skills .skill-item .progress-bar {
  width: 0;
  height: 25px;
  background-color: #fff;
  border-radius: 0;
  transition: width 1.5s ease-in-out;
}

/* Contact Section */
#contact {
  padding: 50px 0;
}

#contact .section-heading {
  margin-top: 0;
  color: white;
}

#contact .section-subheading {
  margin-bottom: 25px;
  font-size: 16px;
  font-style: italic;
  color: white;
}

#contact .form-group {
  margin-bottom: 25px;
}

#contact .form-control {
  border: none;
  border-radius: 0;
  font-size: 18px;
  box-shadow: none;
  background-color: #2c3e50;
  color: white;
}

#contact .form-control:focus {
  border-color: #18bc9c;
  box-shadow: none;
}

#contact .form-control::-webkit-input-placeholder {
  color: white;
}

#contact .form-control:-ms-input-placeholder {
  color: white;
}

#contact .form-control::placeholder {
  color: white;
}

#contact .floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid white;
}

#contact .floating-label-form-group input,
#contact .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  resize: none;
}

#contact .floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
}

#contact .floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid white;
}

#contact .floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

#contact .floating-label-form-group-with-focus label {
  color: #18bc9c;
}

#contact .form-control:focus ~ label {
  top: 0;
  opacity: 1;
}

#contact .btn {
  font-size: 18px;
  font-weight: bold;
  border-radius: 0;
  border: none;
  padding: 13px 25px;
  background-color: #2c3e50;
  color: white;
}

#contact .btn:hover,
#contact .btn:focus,
#contact .btn:active {
  background-color: #18bc9c;
  color: white;
}

#contact .btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#contact .btn-xl {
  padding: 20px 40px;
}

#contact .btn-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

#contact .btn-success:hover,
#contact .btn-success:focus,
#contact .btn-success:active {
  background-color: #128f76;
  border-color: #128f76;
}

#contact .text-danger {
  color: #e74c3c;
}

/* Footer */
footer {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  background-color: #2c3e50;
}

footer a {
  color: #fff;
  font-weight: bold;
}

footer a:hover {
  color: #18bc9c;
}

footer .social-icons {
  margin-bottom: 25px;
}

footer .social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  margin: 0 5px;
  color: #fff;
  background-color: #18bc9c;
  transition: all 0.3s;
}

footer .social-icons a:hover {
  color: #2c3e50;
  background-color: #fff;
}

footer .fa-dribbble {
  background-color: #ea4c89;
}

footer .fa-dribbble:hover {
  color: #ea4c89;
}

footer .fa-twitter {
  background-color: #00aced;
}

footer .fa-twitter:hover {
  color: #00aced;
}

footer .fa-facebook-f {
  background-color: #3b5998;
}

footer .fa-facebook-f:hover {
  color: #3b5998;
}

footer .fa-github {
  background-color: #333333;
}

footer .fa-github:hover {
  color: #333333;
}

footer .list-inline {
  margin-bottom: 0;
}

footer .list-inline-item {
  margin: 0 5px;
}

footer .copyright {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
}
